body {
  background-color: rgba(255, 0, 0, 1);
  font-family: "Comic Sans MS";
  margin: 0;
}

header {
  font-size: 20px;
  background-color: #eee;
  text-align: center;
  margin-top: 50px;
}

h1 {
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 20px;
}

li {
  list-style:none;
}

img {
  width: 200px;
  height: 200px;
}

p {
  color: black;
}

p:last-child {
  text-align: center;
}


#container {
  width: 99%;
  border: 5px solid lime;
}

#main {
  background-color: white;
  width: 80%;
  text-align: center;
  padding: 5px;
  border: 5px solid lime;
  margin: 0 auto;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: red;
}

nav ul li {
  display: inline;
  margin: 5px 2%;
}
nav ul:first-child {
  margin-left: 18%;
}

footer {
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.photo {
  width: 250px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  margin: 8px auto;
  box-shadow: 8px 8px 5px #888888;
}

.photo div {
  width: 210px;
  height: 210px;
  background-color: black;
  margin: 10% auto;
}

.photo div img {
  margin-top: 5px;
  text-align: center;
  vertical-align: middle;
}

.left {
  float: left;
}

.photo.left {
  margin-left: 4%;
}
.photo.right {
  margin-right: 4%;
}

.right {
  float: right;
}


.clear {
  clear: both;
  margin: 0 auto;
}






